# GRIP June 21 Batch - Data Science and Business Analytics Internship

<b> Author: Merlin <b/>

# Task 4: ‘Exploratory Data Analysis’ on dataset ‘Global Terrorism’

In [1]:
#importing required libraries 
import pandas as pd
import numpy as np

In [2]:
#to load the dataset 
data=pd.read_csv(r'C:\Users\merlin\Downloads\globalterrorismdb_0718dist.csv', encoding='latin1')

C:\Users\merlin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#first 5 observations 
data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [4]:
#dimensions of the datasets 
data.shape

(181691, 135)

In [6]:
#removing columns having msissing values greater than 70%
col=[]
for i in data.columns:
    if(data[i].isna().sum()>127184):
        col.append(i)
col

['approxdate',
 'resolution',
 'alternative',
 'alternative_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain2',
 'guncertain3',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'propvalue',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite3',
 'related']

In [7]:
#dropping the above columns 
data.drop(columns=col,inplace=True)

In [8]:
#dimensions of the datasets after dropping the columns 
data.shape

(181691, 64)

In [9]:
#selecting the required features 
data=data[['eventid', 'iyear', 'imonth', 'iday', 'extended', 'country_txt', 'region_txt', 'city', 
                        'latitude', 'longitude', 'specificity', 'summary', 'success', 'suicide', 'attacktype1_txt', 
                        'targtype1_txt', 'target1', 'natlty1_txt', 'gname' , 'nperps', 
                        'weaptype1_txt', 'nkill', 'nkillter', 'nwound', 'nwoundte', 'ishostkid', ]]

In [10]:
#changing the name of the columns 
data.rename(columns={'eventid': 'id', 'iyear': 'year','imonth': 'month','iday':'day','country_txt':'country','region_txt':'region',
                         'attacktype1_txt':'attacktype','targetype1_txt':'targetype','natlty1_txt':'natlty','weaptype1_txt':'weaptype',
                    'nwound':'wound','nkill':'kill'},
                         inplace=True)

In [11]:
#first 5 observations 
data.head()

,id,year,month,day,extended,country,region,city,latitude,longitude,...,target1,natlty,gname,nperps,weaptype,kill,nkillter,wound,nwoundte,ishostkid
0,197000000001,1970,7,2,0,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,...,Julio Guzman,Dominican Republic,MANO-D,NaN,Unknown,1.0,NaN,0.0,NaN,0.0
1,197000000002,1970,0,0,0,Mexico,North America,Mexico city,19.371887,-99.086624,...,"Nadine Chaval, daughter",Belgium,23rd of September Communist League,7.0,Unknown,0.0,NaN,0.0,NaN,1.0
2,197001000001,1970,1,0,0,Philippines,Southeast Asia,Unknown,15.478598,120.599741,...,Employee,United States,Unknown,NaN,Unknown,1.0,NaN,0.0,NaN,0.0
3,197001000002,1970,1,0,0,Greece,Western Europe,Athens,37.997490,23.762728,...,U.S. Embassy,United States,Unknown,NaN,Explosives,NaN,NaN,NaN,NaN,0.0
4,197001000003,1970,1,0,0,Japan,East Asia,Fukouka,33.580412,130.396361,...,U.S. Consulate,United States,Unknown,NaN,Incendiary,NaN,NaN,NaN,NaN,0.0

In [13]:
#checking for null values 
data.isna().sum()

id                   0
year                 0
month                0
day                  0
extended             0
country              0
region               0
city               434
latitude          4556
longitude         4557
specificity          6
summary          66129
success              0
suicide              0
attacktype           0
targtype1_txt        0
target1            636
natlty            1559
gname                0
nperps           71115
weaptype             0
kill             10313
nkillter         66958
wound            16311
nwoundte         69143
ishostkid          178
dtype: int64

In [14]:
data.weaptype.unique()

array(['Unknown', 'Explosives', 'Incendiary', 'Firearms', 'Chemical',
       'Melee', 'Sabotage Equipment',
       'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)',
       'Fake Weapons', 'Radiological', 'Other', 'Biological'],
      dtype=object)

In [15]:
data.weaptype.replace({'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)': 'Explosive_vechile'},inplace=True)

In [16]:
data.weaptype.unique()

array(['Unknown', 'Explosives', 'Incendiary', 'Firearms', 'Chemical',
       'Melee', 'Sabotage Equipment', 'Explosive_vechile', 'Fake Weapons',
       'Radiological', 'Other', 'Biological'], dtype=object)

In [17]:
data.attacktype.unique()

array(['Assassination', 'Hostage Taking (Kidnapping)',
       'Bombing/Explosion', 'Facility/Infrastructure Attack',
       'Armed Assault', 'Hijacking', 'Unknown', 'Unarmed Assault',
       'Hostage Taking (Barricade Incident)'], dtype=object)

In [18]:
data.attacktype.replace({'Hostage Taking (Kidnapping)':'Kidnapping','Hostage Taking (Barricade Incident)': 'Barricade Incident'},inplace=True)

In [19]:
data.attacktype.unique()

array(['Assassination', 'Kidnapping', 'Bombing/Explosion',
       'Facility/Infrastructure Attack', 'Armed Assault', 'Hijacking',
       'Unknown', 'Unarmed Assault', 'Barricade Incident'], dtype=object)

In [21]:
#replacing NAN values by 0
data['wound']=data['wound'].fillna(0)
data['kill']=data['kill'].fillna(0)

In [22]:
#dropping remaining NAN values 
data.dropna(inplace=True)

In [23]:
data.shape

(96606, 26)

In [24]:
#exporting the dataset 
data.to_csv(r'C:\Users\merlin\Downloads\Terr.csv')

In [1]:
#EDA is done using tableau